# LOOPS

FOR LOOP

In [5]:
students = ['hamza', 'mustafa', 'hussain', 'saqib', 'shahzad']

In [2]:
print(students)

['hamza', ' mustafa', 'hussain', 'saqib', 'shahzad']

In [6]:
for student in students:
    print(student)

hamza
mustafa
hussain
saqib
shahzad

In [7]:
for student in students:
    if student == 'shahzad':
        print(f'{student} bahar jao')
    else:
        print(f'{student} ander a jao')

hamza ander a jao
mustafa ander a jao
hussain ander a jao
saqib ander a jao
shahzad bahar jao

In [8]:
for a in 'Pakistan':
    print(a)

P
a
k
i
s
t
a
n

In [9]:
for a in 'Pakistan':
    print(a, end  = ' ')

P a k i s t a n

In [10]:
for num in  range(10):
    print(num, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [11]:
for num in  range(1, 10):
    print(num, end = ' ')

1 2 3 4 5 6 7 8 9

In [25]:
num = int(input('Table Number '))
for number in range(1, 11):
    print(f'{num} * {number} = {num * number}')

Table Number 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [26]:
for num in range(0, 25, 2): # range(value from '0', value to '25', step taken )
    print(num, end = " ")

0 2 4 6 8 10 12 14 16 18 20 22 24

In [3]:
for num in range(25, 0, -1):
    print(num, end = " ")

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [8]:
num = int(input('Table Number '))
for number in range(1, 10):
    if num % 2 == 0:
        continue # skip the condition without exicuting the next line  
    else:
        print(f'{num} * {number} = {num * number}')

Table Number 2

In [9]:
num = int(input('Table Number '))
for number in range(1, 10):
    if num % 2 == 0:
        break # end the loop
    else:
        print(f'{num} * {number} = {num * number}')

Table Number 2

In [ ]:
friendName = '' 
bestfriend = []

In [27]:
bestfriend = []
for numberOfFriends in range(1, 10):
    friendName = str(input("your friend name "))
    if friendName.startswith('ali'): # 'startswith' check the starting element of the string
        continue
    else:
        bestfriend.append(friendName)
        print(bestfriend)

your friend name ali akhber
your friend name akhber
['akhber']
your friend name asghar
['akhber', 'asghar']
your friend name ali asghar
your friend name ali safdar
your friend name ali hamza
your friend name amir ali
['akhber', 'asghar', 'amir ali']
your friend name abuali
['akhber', 'asghar', 'amir ali', 'abuali']
your friend name wali
['akhber', 'asghar', 'amir ali', 'abuali', 'wali']

In [13]:
# THE loop in this code block runs how much you want to run it
y = [0]
for x in y:
    data = int(input('type a number'))
    if data == 1:
        y.append(1)
        print(y)
        continue
        
    else:
        continue

type a number1
[0, 1]
type a number1
[0, 1, 1]
type a number1
[0, 1, 1, 1]
type a number1
[0, 1, 1, 1, 1]
type a number0

# Nested For LOOP

In [5]:
for a in [1,2,3]:
    for b in 'Murtaza':
        print(a,b, end = ' ')

1 M 1 u 1 r 1 t 1 a 1 z 1 a 2 M 2 u 2 r 2 t 2 a 2 z 2 a 3 M 3 u 3 r 3 t 3 a 3 z 3 a

In [17]:
for tablenum in range(1,6):
    print('___________')
    for table in range(1,11):
        print(f'{tablenum} * {table} = {tablenum*table}')

___________
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
___________
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
___________
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
___________
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
___________
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# list comprehension

In [3]:
a = [1,2,3,4,5,6,7,8,9]
squares = []
for num in a:
    squares.append(num**2)
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
x = [num**2 for num in range(1,10,2)]
x

[1, 9, 25, 49, 81]

In [24]:
[num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]