# First Class

# this is our first class

In [8]:
print(213) #Integer

213

In [9]:
print("MURTAZA") #String

MURTAZA

In [10]:
print(12.2) #Float

12.2

In [12]:
print(123, 1.2, False, "hello")

123 1.2 False hello

In [17]:
print(123, 1.2, False, "hello", sep = "I am a seperator")

123I am a seperator1.2I am a seperatorFalseI am a seperatorhello

In [1]:
print(123, 3.6, False, "hat", sep = "I am a good boy")

123I am a good boy3.6I am a good boyFalseI am a good boyhat

In [23]:
print('Hello Abby', end='\f') # \t = tab distance, \r = caridge return
print('Hello World', end = '\t')
print('Hello PIAIC')

Hello AbbyHello World	Hello PIAIC

How Many Escape Characters In Python?

In [30]:
name = "murx"

In [31]:
id(name)

2582390966792

# Concatenation

In [21]:
x = 2
y = "2"
z = x + y 
z

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
z = str(x) + y

In [34]:
print(z)

22

In [35]:
z = x + int(y)

In [36]:
print(z)

4

In [40]:
x = "2"

In [38]:
y = 2

In [41]:
z = y + int(x)

In [42]:
z

4

In [44]:
age = 20
name = "Abbas zoeb"
print('my name is ' + name +  'and my age is ' + str(age))

my name is Abbas zoeband my age is 20

In [46]:
age = input('what is your age?')

what is your age?20

In [47]:
age = input('what is your age? ')

what is your age? 209

In [1]:
2*(1+1)**3+7

23

In [2]:
2**2

4

In [3]:
2**3

8

Unfamiliar Operater

In [4]:
4%3

1

In [5]:
4++

SyntaxError: invalid syntax (<ipython-input-5-268bbaa08984>, line 1)

In [6]:
x=3

In [7]:
x-=1

In [8]:
print(x)

2

In [9]:
x

2

In [10]:
x

2

In [11]:
x+=1

In [12]:
x+=1

In [21]:
a=2
b=1
if a>b:
    print(f"{a} is greater than {b}")

2 is greater than 1

In [24]:
a=2
b=1
if b>a: # indentation    
    print(f"{a} is greater than {b}")
else:
    print(f"{b} is greater than {a}")

1 is greater than 2

In [31]:
age= int(input("enter age")) # nested condition
if age >= 18:
    print('your age is valid')
    ticket = input("enter ticket status").lower()
    if ticket == 'yes':
        print('your ticket is valid')
        print('you are allowed')
    else:
        print('please buy ticket')
else:
    print('your are not allowed')

enter age20
your age is valid
enter ticket statusno
please buy ticket

In [43]:
age = int(input('what is your age ?'))
if age >= 18:
    print('your age is valid')
    cnic = input('do you have CNIC ?').lower()
    if cnic == "yes":
        print('your are eligible to vote')
    else:
        print('you are not eligible to vote')
else:
    print('you are not eligible to vote')

what is your age ?20
your age is valid
do you have CNIC ?yes
your are eligible to vote

In [ ]:
age = int(input('what is your age ?'))  # logical opeATOR "and" is equals to "if" codition
ticket = input("enter ticket status").lower() 
if age >= 18 and ticket == 'yes':
    print('You are allowed')
else:
    print('not allowed')

In [49]:
a = int(input('Enter 1st number '))
b = int(input('Enter 2nd number '))

if a==b:
    print(f')

SyntaxError: invalid syntax (<ipython-input-49-c5a3c53eda86>, line 4)

In [7]:
documents = input('han larkay kagzaat hai? ').lower()
if documents == 'yes' or documents == 'han hai':
    print('acha jao ')
    
elif documents == 'no' or 'nahi hai':
    license = input('acha to phir license hai? ') 
    if license == 'han':
        print('acha jao ')
    else:
        print('gari side me laga')
    
else:
    print('gari side me laga')

han larkay kagzaat hai? han hai
acha jao

In [16]:
print('Balance Inquiry')
print('Cash Withdrawal')

Balance Inquiry
Cash Withdrawal

In [1]:
x = 3

CHap 15 LIST

In [2]:
c = [1,2,3,4]

In [3]:
c = d

NameError: name 'd' is not defined

# popped Element

In [4]:
random

NameError: name 'random' is not defined

In [5]:
random.(23)

SyntaxError: invalid syntax (<ipython-input-5-11291a3fb13b>, line 1)

Homework to make todo list

# Slicing

In [13]:
alist = [1,2,3,4,5,6,7,8,9,10]
#index =[0,1,2.3.4.5.6.7,8, 9]

In [26]:
for x in alist[0:-1]:
    print(x)

1
2
3
4
5
6
7
8
9

In [26]:
alist[0:9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
alist[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
alist[:7]

[1, 2, 3, 4, 5, 6, 7]

In [45]:
alist.remove(1)

ValueError: list.remove(x): x not in list

In [19]:
del alist[0]

# Tuples

In [17]:
a = (1,2,3,4,5,6)

In [18]:
a

(1, 2, 3, 4, 5, 6)

In [19]:
a[3]

4

In [20]:
a[3] = 123

TypeError: 'tuple' object does not support item assignment

In [21]:
a = 2,3,4 #packing

In [27]:
x,y,z = a #unpacking

In [23]:
x

2

In [24]:
y

3

In [25]:
z

4


# list in list, tuple in list , etc

In [28]:
listInlist = [1,2,3,['apple','orange','banana']]

In [31]:
listInlist[3][0]

'apple'

In [32]:
listInlist[3][0] = 'egg'

In [33]:
listInlist[3][0]

'egg'

In [35]:
listInlist[3][0] = 'apple'

In [37]:
listInlist[3][0]

'apple'

In [38]:
listInlist[3].insert(0,'egg')

In [39]:
listInlist[3][0]

'egg'

In [42]:
listInlist[3].remove('egg')

In [43]:
listInlist[3][0]

'apple'

In [44]:
listInlist

[1, 2, 3, ['apple', 'orange', 'banana']]

In [46]:
listInlist[3].remove(0)

ValueError: list.remove(x): x not in list

In [25]:
fruits = ['mango', 'banana', 'grapes', 'apple', 'strawberry', 'strawberry']
print(len(fruits))

6

In [27]:
print(fruits)

['mango', 'banana', 'grapes', 'apple', 'strawberry', 'strawberry', 'leechi']

In [26]:
fruits

In [32]:
num = len(fruits)
print(num)

6

In [33]:
fruits.insert(1, 'orange')

In [34]:
fruits

['mango', 'orange', 'banana', 'grapes', 'apple', 'strawberry', 'strawberry']

In [35]:
fruits.append('pomogranade')

In [36]:
fruits

['mango',
 'orange',
 'banana',
 'grapes',
 'apple',
 'strawberry',
 'strawberry',
 'pomogranade']

In [37]:
fruits[1] = 'cherry'

In [38]:
fruits

['mango',
 'cherry',
 'banana',
 'grapes',
 'apple',
 'strawberry',
 'strawberry',
 'pomogranade']

In [39]:
newFruits = fruits[1:3]

In [40]:
newFruits

['cherry', 'banana']

In [41]:
del newFruits[0]

In [42]:
newFruits

['banana']

In [43]:
del newFruits[0]

In [44]:
newFruits

[]

In [45]:
newFruits = fruits[1:4]

In [46]:
newFruits

['cherry', 'banana', 'grapes']

In [47]:
newFruits.remove("cherry")

In [48]:
newFruits

['banana', 'grapes']

In [49]:
newFruits.remove(f'{newFruits[0]}')

In [50]:
newFruits

['grapes']

In [51]:
del newFruits[0]

In [52]:
newFruits

[]

In [53]:
new_List.append(newFruits.pop(0))

NameError: name 'new_List' is not defined

In [65]:
new_List

NameError: name 'new_List' is not defined

In [64]:
fruits

['mango',
 'cherry',
 'banana',
 'grapes',
 'apple',
 'strawberry',
 'strawberry',
 'pomogranade']

In [63]:
num = 2.00
num

2.0

In [1]:
import pygame

pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
x = pygame.init()
print(x)

(6, 0)

In [4]:
for x,y in fruits:
    print(x)
    print(y)

ValueError: too many values to unpack (expected 2)

In [6]:
data = int(input('type a data: '))
if data:
    if data == 0:
        pass
    print(data)

type a data: 1
1

In [33]:
file1 = open("pycode.txt",'wb')
file1.write(bytes('high score', 'UTF-8'))

10

In [2]:
file1.close()

NameError: name 'file1' is not defined

In [7]:
a = [1,2,3]
b = a

In [8]:
a.append(4)

In [9]:
b

[1, 2, 3, 4]

In [1]:
class Student:
    
    pass

jhon = Student()

jhon.Class = '12'
jhon.school = 'ST. George'

print(jhon.Class)

12

In [43]:
list(“hello”)

SyntaxError: invalid character in identifier (<ipython-input-43-bb8720eb598f>, line 1)