## BOOLEAN Indexing

In [1]:
import numpy as np

In [2]:
name= np.array(['bob','joe','ron','joe','will','joe','joe'])

In [3]:
name

array(['bob', 'joe', 'ron', 'joe', 'will', 'joe', 'joe'], dtype='<U4')

In [4]:
data = np.random.randn(7,4)

In [5]:
data

array([[-0.15836078,  0.12017546, -1.05643245,  1.04564025],
       [-0.11857162,  0.8705735 ,  0.83260323,  0.67390981],
       [-0.64713462,  0.22226733,  0.58714278, -2.14734285],
       [ 1.64166539,  0.47712669, -0.01412745,  1.6462852 ],
       [-1.08011211,  1.60724428,  1.23390564,  1.12562182],
       [-0.52347698,  0.85396507, -0.67444765,  0.52549009],
       [-2.09973608,  0.1958361 , -2.23751934,  0.89994627]])

In [6]:
name == 'joe'

array([False,  True, False,  True, False,  True,  True])

In [7]:
data[name == 'joe']

array([[-0.11857162,  0.8705735 ,  0.83260323,  0.67390981],
       [ 1.64166539,  0.47712669, -0.01412745,  1.6462852 ],
       [-0.52347698,  0.85396507, -0.67444765,  0.52549009],
       [-2.09973608,  0.1958361 , -2.23751934,  0.89994627]])

In [8]:
data[name != 'joe']

array([[-0.15836078,  0.12017546, -1.05643245,  1.04564025],
       [-0.64713462,  0.22226733,  0.58714278, -2.14734285],
       [-1.08011211,  1.60724428,  1.23390564,  1.12562182]])

In [9]:
data[name=='joe',2:]

array([[ 0.83260323,  0.67390981],
       [-0.01412745,  1.6462852 ],
       [-0.67444765,  0.52549009],
       [-2.23751934,  0.89994627]])

In [10]:
cond = name == 'joe'

In [11]:
cond

array([False,  True, False,  True, False,  True,  True])

In [12]:
data[cond]

array([[-0.11857162,  0.8705735 ,  0.83260323,  0.67390981],
       [ 1.64166539,  0.47712669, -0.01412745,  1.6462852 ],
       [-0.52347698,  0.85396507, -0.67444765,  0.52549009],
       [-2.09973608,  0.1958361 , -2.23751934,  0.89994627]])

In [13]:
data[~(cond)]

array([[-0.15836078,  0.12017546, -1.05643245,  1.04564025],
       [-0.64713462,  0.22226733,  0.58714278, -2.14734285],
       [-1.08011211,  1.60724428,  1.23390564,  1.12562182]])

In [14]:
mask = (name == 'joe') | (name == 'will')
mask

array([False,  True, False,  True,  True,  True,  True])

In [15]:
data > 0

array([[False,  True, False,  True],
       [False,  True,  True,  True],
       [False,  True,  True, False],
       [ True,  True, False,  True],
       [False,  True,  True,  True],
       [False,  True, False,  True],
       [False,  True, False,  True]])

In [16]:
data[data > 0]

array([0.12017546, 1.04564025, 0.8705735 , 0.83260323, 0.67390981,
       0.22226733, 0.58714278, 1.64166539, 0.47712669, 1.6462852 ,
       1.60724428, 1.23390564, 1.12562182, 0.85396507, 0.52549009,
       0.1958361 , 0.89994627])

In [17]:
data[data < 0]=0
data

array([[0.        , 0.12017546, 0.        , 1.04564025],
       [0.        , 0.8705735 , 0.83260323, 0.67390981],
       [0.        , 0.22226733, 0.58714278, 0.        ],
       [1.64166539, 0.47712669, 0.        , 1.6462852 ],
       [0.        , 1.60724428, 1.23390564, 1.12562182],
       [0.        , 0.85396507, 0.        , 0.52549009],
       [0.        , 0.1958361 , 0.        , 0.89994627]])

In [18]:
arr = np.empty((8,4))
for i in range(8):
    arr[i]=i
    
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [19]:
arr[[4,6]]

array([[4., 4., 4., 4.],
       [6., 6., 6., 6.]])

In [20]:
arr[[4,5],[1,2]]

array([4., 5.])

In [21]:
arr.ndim

2

In [22]:
arr = np.arange(32).reshape((8,4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [23]:
arr[[1,2,3],[1,2,3]]   # read pg 103

array([ 5, 10, 15])

## Transposing Arrays and Swapping Axes

In [24]:
arr = np.arange(15).reshape((3,5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [25]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

## Array orineted programming language  pg 108

In [26]:
name

array(['bob', 'joe', 'ron', 'joe', 'will', 'joe', 'joe'], dtype='<U4')

In [27]:
name= set(name)
name

{'bob', 'joe', 'ron', 'will'}

In [28]:
student = {'ali','nasir','mohsin','ali'}
student

{'ali', 'mohsin', 'nasir'}

## Array concatination

In [29]:
arr = np.arange(12).reshape((3,4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [30]:
np.concatenate((arr,arr),axis=0)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [31]:
np.concatenate((arr,arr),axis=1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In [32]:
np.sum(arr,axis=0)

array([12, 15, 18, 21])

In [33]:
np.sum(arr,axis=1)

array([ 6, 22, 38])

In [34]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [35]:
arr.ndim

2

In [36]:
arr[0]

array([0, 1, 2, 3])

In [37]:
arr[0,0]

0

In [39]:
ar = arr

In [46]:
ar[0,0] = 1

In [48]:
arr

array([[ 1,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [78]:
np.ndarray(shape=(2,2), dtype=unsign_int, order='F')

array([[-382409216,          0],
       [       437,          0]])