In [3]:
import numpy as np
import pandas as pd

### function application and mapping

In [4]:
obj = pd.Series(range(4),index= ['d','a','b','c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [5]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [7]:
obj.sort_values

<bound method Series.sort_values of d    0
a    1
b    2
c    3
dtype: int64>

In [13]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
                    index= ['three','one'],
                    columns = ['d','a','b','c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [15]:
frame.sort_index

<bound method DataFrame.sort_index of        d  a  b  c
three  0  1  2  3
one    4  5  6  7>

In [17]:
frame.sort_values

<bound method DataFrame.sort_values of        d  a  b  c
three  0  1  2  3
one    4  5  6  7>

In [18]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
[np.nan, np.nan], [0.75, -1.3]],
index=['a', 'b', 'c', 'd'],
columns=['one', 'two'])

In [20]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

##  Correlation and Covariance

In [21]:
import pandas_datareader.data as web

In [23]:
all_data = {ticker: web.get_data_yahoo(ticker)
 for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [24]:
all_data

{'AAPL':                   High         Low        Open       Close      Volume  \
 Date
 2014-10-20   99.959999   98.220001   98.320000   99.760002  77517300.0
 2014-10-21  103.019997  101.269997  103.019997  102.470001  94623900.0
 2014-10-22  104.110001  102.599998  102.839996  102.989998  68263100.0
 2014-10-23  105.050003  103.629997  104.080002  104.830002  71074700.0
 2014-10-24  105.489998  104.529999  105.180000  105.220001  47053900.0
 ...                ...         ...         ...         ...         ...
 2019-10-14  238.130005  234.669998  234.899994  235.869995  24106900.0
 2019-10-15  237.649994  234.880005  236.389999  235.320007  21840000.0
 2019-10-16  235.240005  233.199997  233.369995  234.369995  18475800.0
 2019-10-17  236.149994  233.520004  235.089996  235.279999  16896300.0
 2019-10-18  237.580002  234.289993  234.589996  236.410004  24358400.0

              Adj Close
 Date
 2014-10-20   91.539482
 2014-10-21   94.026176
 2014-10-22   94.503311
 2014-10-23   96.191689
 2014-10-24   96.549545
 ...                ...
 2019-10-14  235.869995
 2019-10-15  235.320007
 2019-10-16  234.369995
 2019-10-17  235.279999
 2019-10-18  236.410004

 [1259 rows x 6 columns],
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 2014-10-20  170.330002  166.690002  166.850006  169.100006  23416500.0
 2014-10-21  166.679993  161.679993  166.399994  163.229996  20949800.0
 2014-10-22  165.410004  161.100006  162.410004  161.789993  11084800.0
 2014-10-23  162.830002  161.539993  162.119995  162.179993   7599400.0
 2014-10-24  162.440002  161.449997  162.080002  162.080002   6652100.0
 ...                ...         ...         ...         ...         ...
 2019-10-14  142.429993  141.320007  142.309998  142.039993   2309500.0
 2019-10-15  143.720001  141.809998  142.539993  143.000000   3025500.0
 2019-10-16  142.949997  141.389999  142.490005  142.110001   5332600.0
 2019-10-17  136.000000  132.910004  135.000000  134.259995  15759800.0
 2019-10-18  134.490005  132.250000  134.220001  134.089996   7177500.0

              Adj Close
 Date
 2014-10-20  136.936264
 2014-10-21  132.182739
 2014-10-22  131.016617
 2014-10-23  131.332458
 2014-10-24  131.251480
 ...                ...
 2019-10-14  142.039993
 2019-10-15  143.000000
 2019-10-16  142.110001
 2019-10-17  134.259995
 2019-10-18  134.089996

 [1259 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close      Volume  \
 Date
 2014-10-20   44.139999   42.810001   43.060001   44.080002  34527900.0
 2014-10-21   44.980000   44.189999   44.360001   44.880001  36433800.0
 2014-10-22   45.070000   44.230000   45.000000   44.380001  33570900.0
 2014-10-23   45.450001   44.529999   44.619999   45.020000  45451900.0
 2014-10-24   46.900002   45.180000   46.830002   46.130001  61076700.0
 ...                ...         ...         ...         ...         ...
 2019-10-14  140.289993  139.520004  139.690002  139.550003  13304300.0
 2019-10-15  141.789993  139.809998  140.059998  141.570007  19695700.0
 2019-10-16  140.990005  139.529999  140.789993  140.410004  20751600.0
 2019-10-17  141.419998  139.020004  140.949997  139.690002  21460600.0
 2019-10-18  140.000000  136.559998  139.759995  137.410004  32273500.0

              Adj Close
 Date
 2014-10-20   39.458977
 2014-10-21   40.175110
 2014-10-22   39.727531
 2014-10-23   40.300430
 2014-10-24   41.294075
 ...                ...
 2019-10-14  139.550003
 2019-10-15  141.570007
 2019-10-16  140.410004
 2019-10-17  139.690002
 2019-10-18  137.410004

 [1259 rows x 6 columns],
 'GOOG':                    High          Low         Open        Close     Volume  \
 Date
 2014-10-20   520.331421   506.708832   508.055145   519.413940  2607500.0
 2014-10-21   525.347656   517.688660   523.752014   525.098328  2336200.0
 2014-10-22   538.322021   527.352173   528.439148   531.251465  2919200.0
 2014-10-23   545.721741   534.382874   537.843323   542.490601  2348800.0
 2014-10-24   543.388123   534.322998   542.869568   538.302063  1973100.0
 ...                 ...          ...          ...          ...        ...
 2019-10-14  1226.329956  1211.760010  1212.339966  1217.140015   867500.0
 2019-10-15  1247.329956  1220.400024  1220.400024  1243.010010  1381700.0
 2019-10-16  1254.739990  1238.449951  1241.170044  1243.640015  1094600.0
 2019-10-17  1263.324951  1249.939941  1250.930054  1253.069946   952400.0
 2019-10-18  1258.890015  1241.079956  1253.459961  1245.489990  1352800.0

               Adj Close
 Date
 2014-10-20   519.413940
 2014-10-21   525.098328
 2014-10-22   531.251465
 2014-10-23   542.490601
 2014-10-24   538.302063
 ...                 ...
 2019-10-14  1217.140015
 2019-10-15  1243.010010
 2019-10-16  1243.640015
 2019-10-17  1253.069946
 2019-10-18  1245.489990

 [1259 rows x 6 columns]}

In [25]:
price = pd.DataFrame({ticker: data['Adj Close']
 for ticker, data in all_data.items()})

In [26]:
price

                  AAPL         IBM        MSFT         GOOG
Date
2014-10-20   91.539482  136.936264   39.458977   519.413940
2014-10-21   94.026176  132.182739   40.175110   525.098328
2014-10-22   94.503311  131.016617   39.727531   531.251465
2014-10-23   96.191689  131.332458   40.300430   542.490601
2014-10-24   96.549545  131.251480   41.294075   538.302063
...                ...         ...         ...          ...
2019-10-14  235.869995  142.039993  139.550003  1217.140015
2019-10-15  235.320007  143.000000  141.570007  1243.010010
2019-10-16  234.369995  142.110001  140.410004  1243.640015
2019-10-17  235.279999  134.259995  139.690002  1253.069946
2019-10-18  236.410004  134.089996  137.410004  1245.489990

[1259 rows x 4 columns]